*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.idea/codeStyles/codeStyleConfig.xml
/.idea/codeStyles/Project.xml
/.idea/libraries/sbt__com_dimafeng_testcontainers_scala_core_2_13_0_41_0_jar.xml
/.idea/libraries/sbt__com_dimafeng_testcontainers_scala_jdbc_2_13_0_41_0_jar.xml
/.idea/libraries/sbt__com_dimafeng_testcontainers_scala_postgresql_2_13_0_41_0_jar.xml
/.idea/libraries/sbt__com_dimafeng_testcontainers_scala_scalatest_2_13_0_41_0_jar.xml
/.idea/libraries/sbt__com_fasterxml_jackson_core_jackson_annotations_2_10_3_jar.xml
/.idea/libraries/sbt__com_github_docker_java_docker_java_api_3_3_3_jar.xml
/.idea/libraries/sbt__com_github_docker_java_docker_java_transport_3_3_3_jar.xml
/.idea/libraries/sbt__com_github_docker_java_docker_java_transport_zerodep_3_3_3_jar.xml
/.idea/libraries/sbt__com_typesafe_config_1_4_2_jar.xml
/.idea/libraries/sbt__com_typesafe_slick_slick_2_13_3_4_1_jar.xml
/.idea/libraries/sbt__com_typesafe_slick_slick_hikaricp_2_13_3_4_1_jar.xml
/.idea/libraries/sbt__com_zaxxer_HikariCP_4_0_3_jar.xml
/.idea/libraries/sbt__junit_junit_4_13_2_jar.xml
/.idea/libraries/sbt__net_java_dev_jna_jna_5_12_1_jar.xml
/.idea/libraries/sbt__org_apache_commons_commons_compress_1_23_0_jar.xml
/.idea/libraries/sbt__org_checkerframework_checker_qual_3_5_0_jar.xml
/.idea/libraries/sbt__org_hamcrest_hamcrest_core_1_3_jar.xml
/.idea/libraries/sbt__org_jetbrains_annotations_17_0_0_jar.xml
/.idea/libraries/sbt__org_postgresql_postgresql_42_2_23_jar.xml
/.idea/libraries/sbt__org_reactivestreams_reactive_streams_1_0_4_jar.xml
/.idea/libraries/sbt__org_rnorth_duct_tape_duct_tape_1_0_8_jar.xml
/.idea/libraries/sbt__org_scala_lang_modules_scala_collection_compat_2_13_2_8_1_jar.xml
/.idea/libraries/sbt__org_scala_lang_modules_scala_xml_2_13_2_1_0_jar.xml
/.idea/libraries/sbt__org_scala_lang_scala_library_2_13_11_jar.xml
/.idea/libraries/sbt__org_scala_lang_scala_reflect_2_13_11_jar.xml
/.idea/libraries/sbt__org_scalactic_scalactic_2_13_3_2_16_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_2_13_3_2_16_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_compatible_3_2_16_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_core_2_13_3_2_16_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_diagrams_2_13_3_2_16_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_featurespec_2_13_3_2_16_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_flatspec_2_13_3_2_16_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_freespec_2_13_3_2_16_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_funspec_2_13_3_2_16_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_funsuite_2_13_3_2_16_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_matchers_core_2_13_3_2_16_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_mustmatchers_2_13_3_2_16_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_propspec_2_13_3_2_16_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_refspec_2_13_3_2_16_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_shouldmatchers_2_13_3_2_16_jar.xml
/.idea/libraries/sbt__org_scalatest_scalatest_wordspec_2_13_3_2_16_jar.xml
/.idea/libraries/sbt__org_slf4j_slf4j_api_1_7_36_jar.xml
/.idea/libraries/sbt__org_testcontainers_database_commons_1_19_0_jar.xml
/.idea/libraries/sbt__org_testcontainers_jdbc_1_19_0_jar.xml
/.idea/libraries/sbt__org_testcontainers_postgresql_1_19_0_jar.xml
/.idea/libraries/sbt__org_testcontainers_testcontainers_1_19_0_jar.xml
/.idea/libraries/sbt__scala_sdk_2_13_11.xml
/.idea/modules/Products.iml
/.idea/modules/Products-build.iml
/.idea/.gitignore
/.idea/.name
/.idea/aws.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/sbt.xml
/.idea/scala_compiler.xml
/.idea/sqldialects.xml
/.idea/vcs.xml
/project/project/target/config-classes/$67456c60d679c372cfc9.cache
/project/project/target/config-classes/$a7c6c25df1148842023d.cache
/project/project/target/config-classes/$eba15647431311a8e1c3.cache
/project/target/.sbt-compilation-infos/product-compile/.sbt-idea-lock
/project/target/config-classes/$2c0ef6b4dc0dd34f8fae.cache
/project/target/config-classes/$07e09b2de43ac140ba22.cache
/project/target/config-classes/$8f670aa15b8bec402706.cache
/project/target/config-classes/$53c47a2a5160c7d1558c.cache
/project/target/config-classes/$79f4bf84a3e11d307a31.cache
/project/target/config-classes/$2336b0941465f86eabcf.cache
/project/target/config-classes/$22572ae33e89994fbd6d.cache
/project/target/config-classes/$23229ee582b700f39835.cache
/project/target/config-classes/$68746a04954f90294a8f.cache
/project/target/config-classes/$a46681a62a5b75f298f5.cache
/project/target/config-classes/$cb8b5986a94f485fd9e5.cache
/project/target/config-classes/$d1dafe5afc2f7e3c6c42.cache
/project/target/config-classes/$e62acbcb7d43ab669e14.cache
/project/target/scala-2.12/sbt-1.0/sync/copy-resource
/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/inputs
/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/output
/project/target/scala-2.12/sbt-1.0/zinc/inc_compile_2.12.zip
/project/target/streams/_global/_global/_global/streams/out
/project/target/streams/_global/_global/csrLogger/_global/streams/out
/project/target/streams/_global/csrConfiguration/_global/streams/out
/project/target/streams/_global/csrProject/_global/streams/out
/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/input_dsp
/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/output_dsp
/project/target/streams/_global/ivyConfiguration/_global/streams/out
/project/target/streams/_global/ivySbt/_global/streams/out
/project/target/streams/_global/moduleSettings/_global/streams/out
/project/target/streams/_global/projectDescriptors/_global/streams/out
/project/target/streams/_global/scalaCompilerBridgeScope/_global/streams/out
/project/target/streams/_global/update/_global/streams/out
/project/target/streams/compile/_global/_global/compileOutputs/previous
/project/target/streams/compile/_global/_global/discoveredMainClasses/data
/project/target/streams/compile/bspReporter/_global/streams/out
/project/target/streams/compile/compile/_global/streams/out
/project/target/streams/compile/compileIncremental/_global/streams/export
/project/target/streams/compile/compileIncremental/_global/streams/out
/project/target/streams/compile/copyResources/_global/streams/out
/project/target/streams/compile/dependencyClasspath/_global/streams/export
/project/target/streams/compile/exportedProducts/_global/streams/export
/project/target/streams/compile/externalDependencyClasspath/_global/streams/export
/project/target/streams/compile/incOptions/_global/streams/out
/project/target/streams/compile/internalDependencyClasspath/_global/streams/export
/project/target/streams/compile/internalDependencyClasspath/_global/streams/out
/project/target/streams/compile/managedClasspath/_global/streams/export
/project/target/streams/compile/scalacOptions/_global/streams/out
/project/target/streams/compile/unmanagedClasspath/_global/streams/export
/project/target/streams/compile/unmanagedClasspath/_global/streams/out
/project/target/streams/compile/unmanagedJars/_global/streams/export
/project/target/streams/runtime/dependencyClasspath/_global/streams/export
/project/target/streams/runtime/exportedProducts/_global/streams/export
/project/target/streams/runtime/externalDependencyClasspath/_global/streams/export
/project/target/streams/runtime/fullClasspath/_global/streams/export
/project/target/streams/runtime/internalDependencyClasspath/_global/streams/export
/project/target/streams/runtime/internalDependencyClasspath/_global/streams/out
/project/target/streams/runtime/managedClasspath/_global/streams/export
/project/target/streams/runtime/unmanagedClasspath/_global/streams/export
/project/target/streams/runtime/unmanagedClasspath/_global/streams/out
/project/target/streams/runtime/unmanagedJars/_global/streams/export
/target/scala-2.13/update/update_cache_2.13/inputs
/target/scala-2.13/update/update_cache_2.13/output
/target/scala-2.13/zinc/inc_compile_2.13.zip
/target/streams/_global/_global/_global/streams/out
/target/streams/_global/_global/csrLogger/_global/streams/out
/target/streams/_global/_global/dumpStructure/_global/streams/out
/target/streams/_global/_global/dumpStructureTo/_global/streams/out
/target/streams/_global/csrConfiguration/_global/streams/out
/target/streams/_global/csrProject/_global/streams/out
/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.13/input_dsp
/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.13/output_dsp
/target/streams/_global/ivyConfiguration/_global/streams/out
/target/streams/_global/ivySbt/_global/streams/out
/target/streams/_global/moduleSettings/_global/streams/out
/target/streams/_global/projectDescriptors/_global/streams/out
/target/streams/_global/scalaCompilerBridgeScope/_global/streams/out
/target/streams/_global/ssExtractDependencies/_global/streams/out
/target/streams/_global/update/_global/streams/out
/target/streams/_global/updateClassifiers/_global/streams/update_cache_2.13/inputs
/target/streams/_global/updateClassifiers/_global/streams/update_cache_2.13/output
/target/streams/_global/updateClassifiers/_global/streams/out
/target/streams/compile/_global/_global/compileOutputs/previous
/target/streams/compile/_global/_global/discoveredMainClasses/data
/target/streams/compile/bspReporter/_global/streams/out
/target/streams/compile/compile/_global/streams/out
/target/streams/compile/compileIncremental/_global/streams/export
/target/streams/compile/compileIncremental/_global/streams/out
/target/streams/compile/dependencyClasspath/_global/streams/export
/target/streams/compile/externalDependencyClasspath/_global/streams/export
/target/streams/compile/incOptions/_global/streams/out
/target/streams/compile/internalDependencyClasspath/_global/streams/export
/target/streams/compile/internalDependencyClasspath/_global/streams/out
/target/streams/compile/managedClasspath/_global/streams/export
/target/streams/compile/scalacOptions/_global/streams/out
/target/streams/compile/unmanagedClasspath/_global/streams/export
/target/streams/compile/unmanagedClasspath/_global/streams/out
/target/streams/compile/unmanagedJars/_global/streams/export
/target/streams/runtime/externalDependencyClasspath/_global/streams/export
/target/streams/runtime/managedClasspath/_global/streams/export
/target/streams/runtime/unmanagedClasspath/_global/streams/export
/target/streams/runtime/unmanagedClasspath/_global/streams/out
/target/streams/runtime/unmanagedJars/_global/streams/export
/target/streams/test/externalDependencyClasspath/_global/streams/export
/target/streams/test/managedClasspath/_global/streams/export
/target/streams/test/unmanagedClasspath/_global/streams/export
/target/streams/test/unmanagedClasspath/_global/streams/out
/target/streams/test/unmanagedJars/_global/streams/export
/target/.history3
/.bsp/sbt.json
